{% block head %}
    <link rel="stylesheet" href="{{ asset('css/customLogIn.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">


{% endblock %}

{% block body  %}
    <body style="background-color:powderblue">
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Michałek Site</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="{{path('HomePage') }}" >Main</a></li>
                <li><a href="{{path('showData') }}">Show Data</a></li>
                {% if is_granted('ROLE_ADMIN') %}<li><a href="{{path('InsertData') }}">Insert Data</a></li>{% endif %}
                {% if not app.user %}
                <li class="login"><a  class="glyphicon-log-in" href="{{ path('fos_user_security_login') }}"></a></li>
                {% else %}
                    <li class="logout"><a  class="glyphicon-log-in" href="{{ path('fos_user_security_logout') }}"></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </body>

{% endblock %}
