

{% block body %}
   <h1>Elo</h1>

    {#{{ form_start(form) }}#}
    {#{{  form_widget(form) }}#}
    {#{{ form_end(form)}}#}
    {{ form_start(form1) }}
    {{  form_widget(form1) }}
    {{ form_end(form1)}}
{% endblock %}
