{% extends ":default:index.html.twig" %}
{% block head %}
    {{ parent()}}
{% endblock %}
{% block body %}
    {{ parent()}}
    {% if data %}
        <table class="table">
            {% for dataValue in data %}
                <tr><td>{{   dataValue.id }}</td>
                    <td>{{ dataValue.name }}</td>
                    <td>{{ dataValue.surname }}</td>
                    <td>{{ dataValue.workname }}</td>
                    <td><input type="button" value="edit"></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}