{% extends ":default:index.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    {% if data %}
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Work</th>
            </tr>
            {% for dataValue in data %}

                <tr>
                    <td>{{ dataValue.id }}</td>
                    <td>{{ dataValue.name }}</td>
                    <td>{{ dataValue.surname }}</td>
                    <td>{{ dataValue.workname }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a class="btn btn-default"
                           href="{{ path('Edit',{'id':dataValue.id},{'request':app.request}) }}">Edit</a></td>
                    <td><a class="btn btn-default" href="{{ path('Delete',{'id':dataValue.id},{'request':app.request})}}" onclick="return confirm('Czy napewno chcesz to usunąć')">Delete</a></td>
                    {% endif %}
                        </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}