{% extends ":default:index.html.twig" %}
{% block head %}
    {{ parent()}}
{% endblock %}
{% block body %}
    {{ parent()}}
    {% if data %}
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Work</th>
            </tr>
            {% for dataValue in data %}

                <tr><td>{{   dataValue.id }}</td>
                    <td>{{ dataValue.name }}</td>
                    <td>{{ dataValue.surname }}</td>
                    <td>{{ dataValue.workname }}</td>
                    {#<a class="btn btn-default" href="{{ path('edit', ) }}">Edit</a>#}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}